<!DOCTYPE html>
<html>
<head>
  <title>Your App Splash Screen</title>
</head>
<body>
  <div class="splash-container">
    <h1>Your Budget Monitor</h1>
    <p>Welcome to our awesome app!</p>
    <div class="splash-buttons">
      <a href="/users/sign_in">Sign In</a>
      <a href="/users/sign_up">Sign Up</a>
    </div>
  </div>
</body>
</html>
