<div id="<%= dom_id purchase %>" class="drop-shadow-md bg-white flex w-full p-3 rounded">
  <p>
    <strong>Name:</strong>
    <%= purchase.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <% purchase.categories.each do |category| %>
      <%= category.name %>
      <% end %>
  </p>

  <p class="amount-color">
    <strong>Amount:</strong>
    $<%= purchase.amount %>
  </p>

</div>
