<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <a href="<%= category_path(category) %>" class="m-1">
    <%= render category %>
    </a>
  <% end %>
</div>
<a href="<%= new_category_path %>" class="">
<button class="p-2 green-btn rounded drop-shadow-md">New +</button>
</a>
